############################################
# .NET / Visual Studio
############################################
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log

############################################
# JetBrains IDEs (WebStorm / Rider)
############################################
.idea/

############################################
# Node / Nuxt / Vite
############################################
node_modules/
.npm/
.pnpm-store/
.yarn/
.yarn-cache/
.yarn-install-state.gz

# Nuxt build & cache
.nuxt/
.output/
dist/
.cache/

############################################
# Environment files
############################################
.env
.env.*
!.env.example

############################################
# OS junk
############################################
.DS_Store
Thumbs.db
