@use '../abstracts/colors' as c;

$hover: c.$color-hover;

.base-table.v-table {
  thead {
    background-color: c.$header;
  }
  .v-table__wrapper > table > tbody {
    > tr:hover {
      background: $hover;
    }

    /* Parent hovered -> expand-row highlighted */
    > tr.expanded:hover + tr.expand-row {
      background: $hover;
    }

    /* Expand-row hovered -> parent highlighted */
    > tr.expanded:has(+ tr.expand-row:hover) {
      background: $hover;
    }

    /* keyboard: focus-visible highlights row
       (:focus-visible instead of :focus prevents sticky highlight on button click) */
    > tr:has(:focus-visible) {
      background: $hover;
    }

    /* Expand-row has focus-visible -> parent highlighted
      (in case elements are added in .expand-row) */
    > tr.expanded:has(+ tr.expand-row:has(:focus-visible)) {
      background: $hover;
    }

/* Remove border between parent + expand row */
    > tr.expanded:has(+ tr.expand-row) > td {
      border-bottom-color: transparent;
    }
  }
}