$fs-10: 0.625rem;  // 10px
$fs-12: 0.75rem;   // 12px
$fs-14: 0.875rem;  // 14px
$fs-16: 1rem;      // 16px
$fs-18: 1.125rem;  // 18px
$fs-20: 1.25rem;   // 20px
$fs-24: 1.5rem;    // 24px
$fs-28: 1.75rem;   // 28px
$fs-32: 2rem;      // 32px
$fs-36: 2.25rem;   // 36px
$fs-40: 2.5rem;    // 40px
$fs-48: 3rem;      // 48px
$fs-56: 3.5rem;    // 56px
$fs-64: 4rem;      // 64px
